.Avatar {
    /*tamaño de tu círculo */
    height: 100px;
    width: 100px;
    /*valores son independientes del tamaño del círculo */
    background-repeat: no-repeat;
    border-radius: 50%;
    background-size: 100% auto;
}

.Man{
    background-color: dimgrey;
}
.Fem{
    background-color: lightpink;
}